#layout {
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}
body {
    font-family: 'PT Sans', sans-serif;
}
.connect {
    color: #2ca02c !important;
}
.clear {
    color: #e00 !important;
}

svg {
  font: 10px sans-serif;
  /*shape-rendering: crispEdges;*/
}

.grid-bg {
  /*fill: rgb(245, 246, 247);*/
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #DFDFDF;
}
.tick text {
  display: none;
}
/*
.axis path {
  display: none;
  }

  .axis line {
    shape-rendering: crispEdges;
      stroke: #000;
      }

      .axis .minor line {
        stroke: #777;
          stroke-dasharray: 2,2;
          }
*/
.inspector-title {
    font-size: 11px;
}
.inspector-table {
    font-size: 11px;
    border-collapse: collapse;
    border: 1px solid #DFDFDF;
    margin: 5px 0px;
    width: 100%;
}
.visualwire {
    opacity: 0.6;
    stroke-width: 2;
}
.visualwire:hover {
    stroke: blue;
    opacity: 1;
    stroke-width: 4;
}
.componenthoveredlink {
    opacity: 0.5 !important;
    cursor: crosshair;
}
.componenthoveredplace {
    opacity: 0.5 !important;
    cursor: pointer;
    cursor: hand;
}
#console {
    background-color: #323232;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-size: 12px;
    color: white;
    margin: 0px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.missing-table {
    border-collapse: collapse;
    border: 1px solid #DFDFDF;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
